<footer class="text-center-xs space--xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <ul class="list-inline">
          <li> <a href="goodjobs.html"><span class="h6 type--uppercase"><p>good Jobs</p></span></a> </li>
          <li> <a href="#about"><span class="h6 type--uppercase"><p>Employee Login</p></span></a> </li>
          <li> <a href="http://www.imipeople.com/career/"><span class="h6 type--uppercase"><p>JOIN THE TEAM</p></span></a> </li>
          <li> <a href="contact.html"><span class="h6 type--uppercase">COntact</span></a> </li>
        </ul>
      </div>
      <div class="col-sm-5 text-right text-center-xs">
        <ul class="social-list list-inline list--hover">
          <li><a href="https://www.facebook.com/IMIsocial/" target="_self"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UClr2KzyTFjUhlie60BBW53Q" target="_self"><i class="socicon icon socicon-youtube icon--xs"></i></a></li>
          <li><a href="https://www.instagram.com/imi.social/" target="_self"><i class="socicon icon socicon-instagram icon--xs"></i></a></li>
          <li><a href="https://www.linkedin.com/company/imi-material-handling-logistics/" target="_self"><i class="socicon icon socicon-linkedin icon--xs"></i></a></li>
          <li><a href="https://twitter.com/imi_social" target="_self"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7"> <span class="type--fine-print">© <span class="update-year">2018</span> IMI&nbsp; Inc.</span>
      </div>
      <div class="col-sm-5 text-right text-center-xs"> <a class="type--fine-print" href="#about">support@imipeople.com</a> </div>
    </div>
  </div>
</footer>
